<div class="row">
    <form class="form-inline">
        <input type="number" class="form-control" placeholder="Page" ng-model="page">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.gotoPage(page)">Go</button>
        <div class="pull-right">
            <input type="text" class="form-control" placeholder="Filter" ng-model="filterText" ng-change="$ctrl.filter(filterText)">
        </div>
    </form>
</div>
<br />

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody class="comments-table-body">
        <tr ng-repeat="comment in $ctrl.slicedComments" ng-click="$ctrl.openComment(comment)">
            <th scope="row">{{comment.id}}</th>
            <td>{{comment.name}}</td>
            <td>{{comment.email}}</td>
        </tr>
    </tbody>
</table>

<div class="comments-pagination">
    <pre>{{$ctrl.begin + 1}} to {{$ctrl.totalComments < $ctrl.end ? $ctrl.totalComments : $ctrl.end}} of {{$ctrl.totalComments}}</pre>
    <ul uib-pagination total-items="$ctrl.totalComments" items-per-page="$ctrl.numPerPage" ng-model="$ctrl.currentPage" ng-change="$ctrl.gotoPage($ctrl.currentPage)"></ul>
</div>
